
<div id="allhtable">
    <table>
        <caption>
         
        </caption>
        <tbody > 
            <tr><th>Houses</th></tr>
            <tr ng-click="loadName(house.url)" ng-repeat="house in houses">
                <td><a href="#!shview">{{house.name}}</a></td >
            </tr>
        </tbody>
    </table>
</div>