<div id="shtable">
    <table  >
        <tbody>
            <tr ><td ><b>Name:</b></td><td>{{test.name}}</td></tr>
            <tr ><td ><b>Region:</b></td><td>{{test.region}}</td></tr>
            <tr ><td ><b>Coat of arms:</b></td> <td> {{test.coatOfArms}}</td></tr>
            <tr ><td ><b>Words:</b></td><td>{{test.words}}</td></tr>
            <tr ><td ><b>Titles:</b></td><td>{{titles}}</td></tr>
            <tr ><td ><b>Seats:</b></td><td>{{seats}}</td></tr></tr>
            <tr ><td ><b>Current lord:</b></td><td>{{curr.name}}</td></tr>
            <tr ><td ><b>Heir:</b></td><td>{{hei.name}}</td></tr>
            <tr ><td ><b>Overlord:</b></td><td><span >{{over.name}}</span></td></tr>
            <tr ><td ><b>Founder:</b></td><td>{{foun.name}}</td></tr>
            <tr ><td ><b>Founded:</b></td><td>{{test.founded}}</td></tr>
            <tr ><td ><b>Diedout:</b></td><td>{{test.diedOut}}</td></tr>
            <tr ><td ><b>Ancestral weapons:</b></td><td>{{weapons}}</td></tr>
            <tr ><td><b>Cadet branches:</b></td><td><span ng-repeat="cadet in cadetBranches">{{cadet.name}} {{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}} <span></td></tr>
            <tr > <td><b>Members:</b></td><td><span ng-repeat="nom in nami">{{nom.name}} {{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}} <span></td></tr>
        </tbody>
    </table>
    </br>
    </br>
    <button><a href="#/!">see all houses</a></button>
</div>