body {
    background-color: white;
    font-size:1.5em;
    font-family: Franklin Gothic Medium;
    background-image: url("../img/map2.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

table{
    table-layout: fixed;
    width: 800px;
    text-align: center;
    border-spacing: 0;
 
}

table td {
    vertical-align: top;
}

a{
    color:black;
    text-decoration: none;
    font-weight: 900;
}


button{
    background-color:black;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;

}
button a{
    color:white;

}

#shtable table {
    text-align: left;

}
#allhtable table {
    border: 2px solid black;
}

#allhtable table th  {
    font-size:2em;
    border: 2px solid black;
}

#allhtable table td {
    border: 2px solid black;
   

}



